// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-cont {
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    width: 400px;


  .comment-image  {
    float: left;


  }

  .comment-body {
    margin: 0px;
    padding: 0px;
    width: 340px;

    float: left;
    h6 {
      margin: 0px 0px 0px 10px;
      font-size: 14px;
      color: #285e8e;
    }
    p {
      margin: 0px 0px 0px 10px;
    }
  }
}